.title {
   text-align: center ;
    font-family: Bungee Inline ;
    font-size:  90px ;
    color: gold ;
}
h1 {
    text-align: center ;
    font-size: 50px ;
    color: red;
    font-family: Notable ;
}
.song {
    color: red;
    font-family: Notable ;
    font-size: 50px ;
    text-align: center ;
}
img {
    height: 400px ;
    width: 450px ;
}
.center {
    display: block ;
    margin-left: auto ;
    margin-right: auto ;
}
body {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/GfRLKaE/videoblocks-golden-stars-awards-background_hms7e5rum_thumbnail-full01.png") ;
    background-repeat: no-repeat ;
    background-size: cover ;
}
h2 {
    font-family: Sigmar One ;
    text-align: center ;
    font-size: 50px ;
    color: white ;
}
.male {
    color: white ;
    font-family: Sigmar One ;
    text-align: center ;
    font-size: 50px ;
}
h3 {
    text-align: center ;
    font-size: 50px ;
    color: Pink ;
    font-family: Lobster ;
}
.female {
    text-align: center ;
    color: pink ;
    font-family: Lobster ;
    font-size: 50px ;
}
h4 {
    text-align: center ;
    font-size: 50px ;
    color: blue ;
    font-family: Sigmar One;
}
.me {
    text-align: center ;
    font-size: 50px ;
    color: blue ;
    font-family: Sigmar One ;
}